link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet')
nav.top-bar(data-topbar='', role='navigation')
  ul.title-area
    .logo
      a(href='http://zurb.com/stickers/images/intro-foundation.png')
        img(src='http://zurb.com/stickers/images/intro-foundation.png')
    // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    li.toggle-topbar.menu-icon
      a(href='#')
        span Menu
  section.top-bar-section
    // Right Nav Section
    ul.right
      li
        a(href='#') Right Button Active
      li.divider
      li
        a(href='#') Right Button Active
      li.divider
      li.has-dropdown
        a(href='#') Right Button Dropdown
        ul.dropdown
          li
            a(href='#') First link in dropdown
          li.active
            a(href='#') Active link in dropdown
    ul.social-icons
      li
        a(href='')
          i.fi-telephone
      li
        a(href='')
          i.fi-social-linkedin
      li
        a(href='')
          i.fi-social-twitter
      li
        a(href='')
          i.fi-social-facebook
