doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href='/')
    script(type="text/javascript", src="/javascripts/bundle.js")
  body(ng-app="app")
    block content
